<!DOCTYPE html>
<html>
    {% include 'head.html' %}
    <body>
        <header>
            <h1>Mr. Face Cropper</h1>
        </header>
        <img src="{{ url_for('static', filename='mr-face.jpg' )}}" />

        {% block body %}
        <!-- Content gets served here -->
        {% endblock %}

        <footer class="credits">
            <p>Made by <a href="http://mattmatters.io">Matt Lewis</a></p>
            <div class="social">
                <a href="https://github.com/mattmatters/mr-face-cropper"><i class="fa fa-github" aria-hidden="true" /></a>
            </div>
        </footer>
    </body>
 </html>
